<div class="d-inline-block ml-auto">
  <div ngbDropdown #loginDropdown placement="bottom-right" autoClose="outside">
    <button class="btn btn-sm btn-outline-light" id="dropdownBasic1" ngbDropdownToggle="{autoClose: false}">Login</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <form class="mx-2 my-0" style="width: 240px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group input-group-sm mb-1">
          <input type="text" class="form-control" id="email" placeholder="email" formControlName="email">
        </div>
        <div class="form-group input-group-sm mb-1">
          <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
        </div>
        <div class="text-center mb-1">
          <small><a class="form-text text-primary" (click)="onDiscard()" routerLink="/signup">not registered yet?</a></small>
        </div>
        <button type="submit" (click)="onCheck()" class="btn btn-sm btn-primary btn-block progress-bar-striped px-0 py-1"
                [@loadingScroll]="loadingStatus" (@loadingScroll.done)="onLoadingEnd($event)">
          <div class="pb-1" style="background-color: inherit">Sign in</div>
        </button>
        <div *ngIf="errorMessage.length > 0" class="text-center"><small class="text-danger">{{ errorMessage }}</small></div>
      </form>
    </div>
  </div>
</div>
