<div ngbDropdown #loginDropdown placement="bottom-right" autoClose="outside">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle="{autoClose: false}">Login</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <form class="mx-3 my-2" style="width: 240px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="email" formControlName="email">
        <small *ngIf="!this.loginForm.get('email').valid && this.loginForm.get('email').touched"
               class="help-block text-muted">Please enter a valid email!</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
        <span *ngIf="!this.loginForm.get('password').valid && this.loginForm.get('password').touched" class="help-block">
              <small *ngIf="this.loginForm.get('password').hasError('required')" class="text-muted">Please enter a valid password!</small>
              <small *ngIf="this.loginForm.get('password').hasError('minlength')" class="text-muted">Password is too short! (min 6 chars)</small>
              <small *ngIf="this.loginForm.get('password').hasError('maxlength')" class="text-muted">Password is too long! (max 20 chars)</small>
            </span>
      </div>
      <div class="text-center mb-2">
        <a class="form-text text-primary" (click)="onDiscard()" routerLink="/signup">not registered yet?</a>
      </div>
      <button class="btn btn-primary btn-block" type="submit" [disabled]="!enableLogin">Sign in</button>
    </form>
  </div>
</div>
