<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <!-- Shrink -->
  <div class="container">

    <!-- Page title -->
    <a class="navbar-brand font-weight-bold" routerLink="/" >PageTitle</a>

    <!--&lt;!&ndash; Api statusMessage &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse">-->
      <!--<span class="badge badge-success">online</span>-->
    <!--</div>-->

    <!-- Login Dropdown -->
    <app-login *ngIf="!hasToken()" class="d-inline-block ml-auto"></app-login>
    <app-manage *ngIf="hasToken()" class="d-inline-block ml-auto"></app-manage>
  </div>
</nav>
