<nav class="navbar navbar-expand-md navbar-dark bg-lines bd-dark-bottom" style="z-index: 1000;">

  <!-- Shrink -->
  <div class="container">

    <!-- Page title -->
    <a class="navbar-brand txt-outline txt-title m-0 py-0" routerLink="/" >Title</a>

    <!--&lt;!&ndash; Api statusMessage &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse">-->
      <!--<span class="badge badge-success">online</span>-->
    <!--</div>-->

    <!-- Login Dropdown -->
    <app-login *ngIf="!isLogged"></app-login>
    <app-manage *ngIf="isLogged"></app-manage>
  </div>
</nav>
