<div class="row m-0">
  <div class="col-md-5 px-2 mb-2">
    <div class="card">
      <!-- Users Header -->
      <div class="card-header d-flex justify-content-center align-items-center border badge-dark p-2">
        <p class="m-0"><strong>Users Table</strong></p>
      </div>
      <!-- Teams List -->
      <div class="card-body p-0">
      </div>
    </div>
  </div>
  <div class="col-md-7 px-2 mb-2">
    <div class="card">
      <!-- Map Header -->
      <div class="card-header d-flex justify-content-between align-items-center border badge-dark p-2">
        <p class="my-0 mx-2"><strong>Map</strong></p>
        <div class="badge badge-light">{{ getStatus() }}</div>
      </div>
      <!-- Game Map -->
      <div class="card-body mb-1">
        <div class="position-relative map-height" *ngIf="isDataLoaded()">
          <app-game-map class="so-static map-height" (positionChanged)="onUserPositionChanged($event)" ></app-game-map>
          <app-game-bar class="so-static map-height"></app-game-bar>
        </div>
        <div *ngIf="!isDataLoaded()">loading data...</div>
      </div>
    </div>
  </div>
</div>

