<div class="row m-0">
  <div class="col-md-5 px-2 mb-2">
    <div class="card">
      <!-- Users Header -->
      <div class="card-header d-flex justify-content-center align-items-center border badge-dark p-2">
        <p class="m-0"><strong>Users Table</strong></p>
      </div>
      <!-- Teams List -->
      <div class="card-body p-0">
      </div>
    </div>
  </div>
  <div class="col-md-7 px-2 mb-2">
    <div class="card">
      <!-- Map Header -->
      <div class="card-header d-flex justify-content-between align-items-center border badge-dark p-2">
        <p class="my-0 mx-2"><strong>Map</strong></p>
        <div class="badge badge-light">{{ getStatus() }}</div>
      </div>
      <!-- Game Map -->
      <div class="card-body mb-1">
        <app-game-map>
          <div class="mx-1">
            <div class="col-md-6 p-1" *ngFor="let zoneIdc of zoneIndicators; let i = index">
              <div class="d-flex align-items-center">
                <h5 class="m-0 pr-2" [ngStyle]="{'font-color': zoneIdc.color }">
                  <i class="fa outline-white" [ngClass]="getZoneIndicatorIcon(i)"></i>
                </h5>
                <div class="progress flex-fill" style="position: relative"
                     [ngClass]="{'box-outline-white' : !zoneIdc.capt, 'box-outline-red' : zoneIdc.capt}">
                  <div class="progress-bar progress-bar-striped progress-bar-animated so-static"
                       [ngStyle]="{'width' : zoneIdc.points + '%', 'background-color' : getZoneIndicatorColor(i) }"></div>
                  <small class="outline-white font-weight-bold so-static text-center">{{ getZoneIndicatorDesc(i) }}</small>
                </div>
              </div>
            </div>
          </div>
        </app-game-map>
      </div>
    </div>
  </div>
</div>

