<div *ngIf="getRoomDetails()" class="row m-0">
  <!-- Users List Column -->
  <div class="col-md-5 px-2 mb-2">
    <div class="card">
      <!-- Users Header -->
      <div class="card-header d-flex justify-content-center border badge-dark p-2">
        <p class="m-0"><strong>Users list</strong></p>
      </div>
      <!-- Teams List -->
      <div class="card-body p-0">
        <div id="usersAccordion">
          <div class="card" *ngFor="let team of getRoomDetails().teamsList; let i = index">
            <div class="card-header pr-2" id="{{ 'heading-' + i }}">
              <div class="d-flex w-100 justify-content-between align-items-center">
                <button class="btn btn-link p-0" data-toggle="collapse"
                        [attr.data-target]="'#collapse-' + i"
                        [attr.aria-expanded]="i == 0"
                        [attr.aria-controls]="'collapse-' + i"><strong>{{ team.alias }} </strong>team</button>
                <span class="badge badge-warning badge-pill mr-2">{{ team.usersList.length }}</span>
              </div>
            </div>
            <!-- Users List -->
            <div id="{{ 'collapse-' + i }}" class="collapse" [ngClass]="{'show': team.isMyTeam}" [attr.aria-labelledby]="'heading-' + i" data-parent="#usersAccordion">
              <div class="card-body p-0">
                <div *ngFor="let user of getRoomDetails().teamsList[i].usersList"
                     class="d-flex w-100 justify-content-between align-items-center border p-2">
                  <div class="mx-3">{{ user.name }}</div>
                  <button *ngIf="getRoomDetails().isRoomHost" class="btn btn-sm btn-outline-dark">Kick</button>
                </div>
                <div *ngIf="getRoomDetails().teamsList[i].usersList.length === 0" class="list-group-item list-group-item-action text-warning">Empty!</div>
                <div *ngIf="getRoomDetails().isRoomHost || !team.isMyTeam" class="list-group-item list-group-item-action d-flex flex-row justify-content-between">
                  <button *ngIf="!team.isMyTeam" class="btn btn-sm btn-block btn-outline-success" (click)="onJoinTeam(team.id)">Join</button>
                  <button *ngIf="getRoomDetails().isRoomHost" class="btn btn-sm btn-outline-danger w-25 ml-2"
                          [ngClass]="{'w-100 mr-2': team.isMyTeam}" (click)="onTeamRemove(team.id)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Team Form -->
    <form *ngIf="getRoomDetails().isRoomHost" [formGroup]="teamForm" (ngSubmit)="onTeamCreate()">
      <div class="content row mx-0 my-2 p-2 rounded border border-primary">
        <div class="col-9 p-0 pr-2">
          <input type="text" class="form-control form-control-sm" id="alias" placeholder="team alias" formControlName="alias" autocomplete="off"/>
        </div>
        <div class="col-3 p-0">
          <button type="submit" class="btn btn-sm btn-block btn-primary" [disabled]="!teamForm.valid">add team</button>
        </div>
      </div>
    </form>
  </div>
  <!-- Room Details Column -->
  <div class="col-md-7 px-2 mb-2">
    <div class="card">
      <!-- Room Header -->
      <div class="card-header d-flex justify-content-between align-items-center bg-dark border badge-dark p-2">
        <p class="m-0 mx-2"><strong>{{ getRoomDetails().hostName }}'s</strong> room</p>
        <small class="m-0 text-muted">({{ getRoomDetails().id }})</small>
        <div>
          <button class="btn btn-sm btn-outline-light" (click)="onLeaveRoom()">leave</button>
          <button *ngIf="getRoomDetails().isRoomHost" class="btn btn-sm btn-danger ml-2" (click)="onRoomDelete()">delete</button>
        </div>
      </div>
      <!-- Room Details -->
      <div class="card-body p-0">
        <div id="roomAccordion">
          <!-- Room Location -->
          <div class="card">
            <div class="card-header p-2" id="headingOne">
              <div class="d-flex w-100 justify-content-between align-items-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Location</button>
                <div *ngIf="isHost() && hasChanges()">
                  <button class="btn btn-sm btn-outline-success" (click)="onZoneApply()">apply</button>
                  <button class="btn btn-sm btn-outline-danger ml-1" (click)="onZoneDiscard()">discard</button>
                </div>
              </div>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#roomAccordion">
              <div class="card-body">
                <div class="d-flex pb-3">
                  <div class="mr-2">Mode: </div>
                  <div class="flex-fill">
                    <select class="custom-select custom-select-sm w-100" [disabled]="!isHost()"
                            [ngClass]="{'is-valid': isModeChanged}" (change)="onModeChange($event.target.value)" >
                      <option value="0" #optionBR [selected]="optionBR.value == getGameMode()">BattleRoyal</option>
                      <option value="1" #optionZC [selected]="optionZC.value == getGameMode()">ZoneControl</option>
                    </select>
                  </div>
                  <button class="btn btn-sm btn-outline-primary ml-2" *ngIf="isModeChanged" (click)="onModeApply()">apply</button>
                </div>
                <agm-map style="height: 400px" #map
                         [latitude]="getRoomDetails().zoneLat" [longitude]="getRoomDetails().zoneLng"
                         [zoom]="16" [mapTypeId]="'satellite'" [usePanning]="true" (mapClick)="onZoneChanged($event)">
                  <!-- Room Circle -->
                  <agm-circle #zone
                              [latitude]="getRoomDetails().zoneLat" [longitude]="getRoomDetails().zoneLng" [radius]="getRoomDetails().zoneRadius"
                              [fillColor]="'red'" [fillOpacity]="0.35" (circleClick)="onZoneClicked(zone)">
                  </agm-circle>
                  <!-- Host Circle -->
                  <agm-circle *ngIf="isHost() && newZonePlaced"
                              [(latitude)]="newZone.lat" [(longitude)]="newZone.lng" [(radius)]="newZone.radius"
                              [fillColor]="'yellow'" [fillOpacity]="0.35" [editable]="true">
                  </agm-circle>
                </agm-map>
              </div>
            </div>
          </div>
          <!-- Room Mode -->
          <app-mode-edit [isHost]="isHost()" [gameMode]="getGameMode()"></app-mode-edit>
        </div>
      </div>
    </div>
    <!-- Start Game -->
    <button *ngIf="getRoomDetails().isRoomHost" class="btn btn-block btn-outline-primary my-2">start</button>
  </div>
</div>
<div *ngIf="!getRoomDetails()" class="row m-0">
  <div class="col-12 px-2">
    <div class="border rounded bg-white text-center">
      <p class="m-2">Error no room data!</p>
    </div>
  </div>
</div>
