<div *ngIf="getRoomDetails()" class="row m-0">
  <!-- Users List Column -->
  <div class="col-md-5 px-2">
    <div class="card">
      <!-- Users Header -->
      <div class="card-header d-flex justify-content-center border badge-dark p-2">
        <p class="m-0"><strong>Users list</strong></p>
      </div>
      <!-- Teams List -->
      <div class="card-body p-0">
        <div id="usersAccordion">
          <div class="card" *ngFor="let team of getRoomDetails().teamsList; let i = index">
            <div class="card-header pr-2" id="{{ 'heading-' + i }}">
              <div class="d-flex w-100 justify-content-between align-items-center">
                <button class="btn btn-link p-0" data-toggle="collapse"
                        [attr.data-target]="'#collapse-' + i"
                        [attr.aria-expanded]="i == 0"
                        [attr.aria-controls]="'collapse-' + i"><strong>{{ team.alias }} </strong>team</button>
                <span class="badge badge-warning badge-pill mr-2">{{ team.usersList.length }}</span>
              </div>
            </div>
            <!-- Users List -->
            <div id="{{ 'collapse-' + i }}" class="collapse" [ngClass]="{'show': team.isMyTeam}" [attr.aria-labelledby]="'heading-' + i" data-parent="#usersAccordion">
              <div class="card-body p-0">
                <div *ngFor="let user of getRoomDetails().teamsList[i].usersList"
                     class="d-flex w-100 justify-content-between align-items-center border p-2">
                  <div class="mx-3">{{ user.name }}</div>
                  <button *ngIf="getRoomDetails().isRoomHost" class="btn btn-sm btn-outline-dark">Kick</button>
                </div>
                <div *ngIf="getRoomDetails().teamsList[i].usersList.length === 0" class="list-group-item list-group-item-action text-warning">Empty!</div>
                <div *ngIf="getRoomDetails().isRoomHost || !team.isMyTeam" class="list-group-item list-group-item-action d-flex flex-row justify-content-between">
                  <button *ngIf="!team.isMyTeam" class="btn btn-sm btn-block btn-outline-success" (click)="onJoinTeam(team.id)">Join</button>
                  <button *ngIf="getRoomDetails().isRoomHost" class="btn btn-sm btn-outline-danger w-25 ml-2"
                          [ngClass]="{'w-100 mr-2': team.isMyTeam}" (click)="onTeamRemove(team.id)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Team Form -->
    <form *ngIf="getRoomDetails().isRoomHost" [formGroup]="teamForm" (ngSubmit)="onTeamCreate()">
      <div class="content row mx-0 my-2 p-2 rounded border border-primary">
        <div class="col-9 p-0 pr-2">
          <input type="text" class="form-control form-control-sm" id="alias" placeholder="team alias" formControlName="alias" autocomplete="off"/>
        </div>
        <div class="col-3 p-0">
          <button type="submit" class="btn btn-sm btn-block btn-primary" [disabled]="!teamForm.valid">add team</button>
        </div>
      </div>
    </form>
  </div>
  <!-- Room Details Column -->
  <div class="col-md-7 px-2">
    <div class="card">
      <!-- Room Header -->
      <div class="card-header d-flex justify-content-between align-items-center bg-dark border badge-dark p-2">
        <p class="m-0 mx-2"><strong>{{ getRoomDetails().hostName }}'s</strong> room</p>
        <small class="m-0 text-muted">({{ getRoomDetails().id }})</small>
        <div>
          <button class="btn btn-sm btn-outline-light" (click)="onLeaveRoom()">leave</button>
          <button *ngIf="getRoomDetails().isRoomHost" class="btn btn-sm btn-danger ml-2" (click)="onRoomDelete()">delete</button>
        </div>
      </div>
      <!-- Room Details -->
        <div class="card-body p-0">
          <div *ngIf="getRoomDetails().isRoomHost && hasChanges()" (click)="changeZone = !changeZone">
            <div *ngIf="changeZone" class="row m-0 p-2">
              <div class="col-6 p-0 pr-1">
                <button class="btn btn-sm btn-block btn-outline-success" (click)="onZoneApply()">apply</button>
              </div>
              <div class="col-6 p-0 pl-1">
                <button class="btn btn-sm btn-block btn-outline-danger" (click)="onZoneDiscard()">discard</button>
              </div>
            </div>
            <div *ngIf="!changeZone" class="row py-1 m-0 border bg-success rounded">
              <small class="text-center text-white font-weight-bold w-100">click to apply changes!</small>
            </div>
          </div>
          <div id="roomAccordion">
            <!-- Room Location -->
            <div class="card">
              <div class="card-header p-2" id="headingOne">
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Location</button>
                </div>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#roomAccordion">
                <div class="card-body">
                  <agm-map style="height: 400px" #map
                    [latitude]="getRoomDetails().zoneLat" [longitude]="getRoomDetails().zoneLng"
                    [zoom]="16" [mapTypeId]="'satellite'" [usePanning]="true" (mapClick)="onZoneChanged($event)">
                    <!-- Room Circle -->
                    <agm-circle *ngIf="getRoomDetails().isRoomHost" #zone
                                [latitude]="getRoomDetails().zoneLat" [longitude]="getRoomDetails().zoneLng" [radius]="getRoomDetails().zoneRadius"
                                [fillColor]="'red'" [fillOpacity]="0.35" (circleClick)="onZoneClicked(zone)">
                    </agm-circle>
                    <!-- Host Circle -->
                    <agm-circle *ngIf="getRoomDetails().isRoomHost && newZonePlaced"
                                [(latitude)]="newZone.lat" [(longitude)]="newZone.lng" [(radius)]="newZone.radius"
                                [fillColor]="'yellow'" [fillOpacity]="0.35" [editable]="true">
                    </agm-circle>
                  </agm-map>
                </div>
              </div>
            </div>
            <!-- Room Mode -->
            <div class="card">
              <div class="card-header p-2" id="headingTwo">
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Settings</button>
                </div>
              </div>
              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#roomAccordion">
                <div class="card-body">
                  <div class="d-flex border-bottom pb-3 mb-3">
                    <div class="mr-2">Mode: </div>
                    <div class="flex-fill">
                      <select class="custom-select custom-select-sm w-100" #modeSelect>
                        <option value="1">BattleRoyal</option>
                        <option value="2" selected>ZoneControll</option>
                      </select>
                    </div>
                  </div>
                  <div [ngSwitch]="modeSelect.value">
                    <div *ngSwitchCase="1">Mode 0</div>
                    <div *ngSwitchCase="2" class="row">
                      <div class="col-6">
                        <p>points limit</p>
                      </div>
                      <div class="col-6">
                        <p>time limit</p>
                        <button class="btn btn-primary">focusable</button>
                        <app-time-picker class="btn btn-primary">Btn</app-time-picker>
                      </div>
                      <div class="col-6">
                        <p>zone capacity</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Game -->
    <button *ngIf="getRoomDetails().isRoomHost" class="btn btn-block btn-outline-primary my-2">start</button>
  </div>
</div>
<div *ngIf="!getRoomDetails()" class="row m-0">
  <div class="col-12 px-2">
    <div class="border rounded bg-white text-center">
      <p class="m-2">Error no room data!</p>
    </div>
  </div>
</div>
