<div class="container center-center p-0" style="max-width: 400px">
  <div class="card border-contour shadow p-0 m-2">
    <div class="card-body">
      <h3 class="text-center pb-2">Register account</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email<small *ngIf="checkingEmail" class="text-muted"> checking...</small></label>
          <input type="text" class="form-control" id="email" placeholder="Enter email" formControlName="email"
                 [ngClass]="{'is-valid': registerForm.get('email').valid}">
          <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">
            <small *ngIf="registerForm.get('email').hasError('required')" class="text-muted">Email is required!</small>
            <small *ngIf="registerForm.get('email').hasError('email')" class="text-muted">Please enter a valid email!</small>
            <small *ngIf="registerForm.get('email').hasError('emailInUse')" class="text-muted">Email already registered!</small>
          </span>
        </div>
        <div class="form-group">
          <label for="nick">Nickname<small *ngIf="checkingName" class="text-muted"> checking...</small></label>
          <input type="text" class="form-control" id="nick" placeholder="Nickname" formControlName="nickname"
                 [ngClass]="{'is-valid': registerForm.get('nickname').valid}">
          <span *ngIf="!registerForm.get('nickname').valid && registerForm.get('nickname').touched" class="help-block">
            <small *ngIf="registerForm.get('nickname').hasError('required')" class="text-muted">Please enter a valid name!</small>
            <small *ngIf="registerForm.get('nickname').hasError('minlength')" class="text-muted">Nickname is too short, at least 3 characters!</small>
            <small *ngIf="registerForm.get('nickname').hasError('maxlength')" class="text-muted">Nickname is too long, at most 20 characters!</small>
            <small *ngIf="registerForm.get('nickname').hasError('nameInUse')" class="text-muted">Name already taken!</small>
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="email" formControlName="password"
                 [ngClass]="{'is-valid': registerForm.get('password').valid}">
          <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched" class="help-block">
            <small *ngIf="registerForm.get('password').hasError('required')" class="text-muted">Please enter a valid password!</small>
            <small *ngIf="registerForm.get('password').hasError('minlength')" class="text-muted">Password is too short, at least 6 characters!</small>
            <small *ngIf="registerForm.get('password').hasError('maxlength')" class="text-muted">Password is too long, at most 20 characters!</small>
          </span>
        </div>

        <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="form-check-input" formControlName="checkbox">
            <span class="custom-control-description">accept <strong>terms and conditions</strong></span>
          </label>
          <!--<input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="checkbox">-->
          <small *ngIf="!this.registerForm.get('checkbox').valid && this.registerForm.get('checkbox').touched"
                 class="help-block text-muted">Please read and accept terms&conditions first!</small>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!enableRegister">Submit</button>
        <div class="text-center mt-2">
          <a class="form-text text-primary" routerLink="/" >already registered?</a>
        </div>
      </form>
    </div>
  </div>
</div>
