<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <agm-map (mapClick)="mapClicked($event)" [latitude]="lat" [longitude]="lng" [zoom]="12" style="height: 250px" #myMap>
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-circle
          [latitude]="lat"
          [longitude]="lng"
          [radius]="1250"
          [circleDraggable]="true"
          [editable]="true"
          [fillColor]="'red'"
        ></agm-circle>
        <!--<core-map-content (onMapLoad)='loadAPIWrapper($event)'></core-map-content>-->
      </agm-map>
    </div>
    <div class="col-md-6">
      <agm-map [latitude]="lat + 0.01" [longitude]="lng + 0.01" [zoom]="12" style="height: 250px">
        <agm-marker [latitude]="lat + 0.01" [longitude]="lng + 0.01"></agm-marker>
        <agm-circle
          [latitude]="lat + 0.01"
          [longitude]="lng + 0.01"
          [radius]="1250"
          [circleDraggable]="true"
          [editable]="true"
          [fillColor]="'red'"
        ></agm-circle>
      </agm-map>
    </div>
  </div>
</div>

