<app-header></app-header>
<router-outlet></router-outlet>
<div class="alert-container">
  <app-alert></app-alert>
</div>
<footer class="footer bg-lines bd-dark-top">
  <div class="container">
    <a href="" class="text-light txt-outline"><strong>Company</strong> 2018</a>
    <div class="float-right">
      <span class="text-muted mr-2">
          <small class="p-1 txt-outline">api:</small>
          <app-ping-indicator></app-ping-indicator>
      </span>
      <span class="text-muted mr-2">
          <small class="p-1 txt-outline">app:</small>
          <a href="" class="badge badge-primary">download</a>
      </span>
    </div>
  </div>
</footer>

<!--<agm-map [latitude]="lat + 0.01" [longitude]="lng + 0.01" [zoom]="12" style="height: 250px">-->
  <!--<agm-marker [latitude]="lat + 0.01" [longitude]="lng + 0.01"></agm-marker>-->
  <!--<agm-circle-->
    <!--[latitude]="lat + 0.01"-->
    <!--[longitude]="lng + 0.01"-->
    <!--[radius]="1250"-->
    <!--[circleDraggable]="true"-->
    <!--[editable]="true"-->
    <!--[fillColor]="'red'"-->
  <!--&gt;</agm-circle>-->
<!--</agm-map>-->

