<div class="border rounded h-100">
  <div class="text-white rounded-top bg-lines py-1 px-3">{{ title }}</div>
  <div class="p-2 d-inline-flex">
    <!--<input class="form-control form-control-sm" placeholder="value" />-->
    <div class="input-group input-group-sm w-100">
      <div class="input-group-prepend">
        <button class="btn btn-sm btn-outline-primary" style="width: 30px">+</button>
      </div>
      <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupUsername" placeholder="time in sec">
      <div class="input-group-append">
        <button class="btn btn-sm btn-outline-primary" style="width: 30px">-</button>
      </div>
    </div>
    <button class="btn btn-primary ml-2">reset</button>
  </div>
</div>
