<agm-map class="h-100" (mapReady)="onMapReady($event)"
         [zoom]="17" [mapTypeId]="'satellite'" [usePanning]="true" [panControl]="false" [zoomControl]="true"
         (mapClick)="onUserPositionChanged($event.coords)" (boundsChange)="onCenterChange()">
  <!-- Game Zone Circle -->
  <agm-circle [latitude]="getGamePrefs().location.lat" [longitude]="getGamePrefs().location.lng" [radius]="getGamePrefs().location.radius"
              [fillColor]="'red'" [fillOpacity]="0.05" (circleClick)="onUserPositionChanged($event.coords)"
              [strokeOpacity]="0.5" [strokePosition]="0" [strokeWeight]="2" [strokeColor]="'#fff'">
  </agm-circle>
  <!-- Team Resp Circle -->
  <agm-circle [latitude]="getGamePrefs().resp.lat" [longitude]="getGamePrefs().resp.lng" [radius]="getGamePrefs().resp.radius"
              [fillColor]="'white'" [fillOpacity]="0.25"
              [strokeOpacity]="0.5" [strokePosition]="0" [strokeWeight]="2" [strokeColor]="'white'">
  </agm-circle>
  <!-- Capture Zones Circles -->
  <agm-circle *ngFor="let zone of getZonesLocation(); let i = index"
              [latitude]="zone.lat" [longitude]="zone.lng" [radius]="getGamePrefs().zones.radius" [clickable]="false"
              [fillColor]="getZoneColor(i)" [fillOpacity]="0.35"
              [strokeOpacity]="0.5" [strokePosition]="0" [strokeWeight]="1" [strokeColor]="getZoneColor(i)">
  </agm-circle>
  <!-- User Position Marker -->
  <agm-marker [latitude]="getGameData().user.lat" [longitude]="getGameData().user.lng" [title]="'your position'"></agm-marker>
  <!-- Allies Markers -->
  <agm-marker *ngFor="let ally of userAllies"
    [latitude]="ally.lat" [longitude]="ally.lng" [iconUrl]="getAllyIcon(ally.alive)"></agm-marker>
</agm-map>
