<div class="p-2" style="position: relative; height: 500px">
  <agm-map class="so-static" style="height: 500px" #map (mapReady)="onMapReady($event)"

           [zoom]="16" [mapTypeId]="'satellite'" [usePanning]="true" [panControl]="false" [zoomControl]="true"
           (mapClick)="onUserPositionChanged($event.coords)" (boundsChange)="onCenterChange()">
    <!-- Base Zone Circle -->
    <agm-circle [latitude]="baseZone.lat" [longitude]="baseZone.lng" [radius]="baseZone.radius"
                [fillColor]="'white'" [fillOpacity]="0.25" (circleClick)="onUserPositionChanged($event.coords)">
    </agm-circle>
    <!-- Capture Zones Circles -->
    <agm-circle *ngFor="let zone of captureZones"
                [latitude]="zone.lat" [longitude]="zone.lng" [radius]="zone.radius"
                [fillColor]="zone.color" [fillOpacity]="0.35">
    </agm-circle>
    <agm-marker [latitude]="getUserPosition().lat" [longitude]="getUserPosition().lng" [title]="'your position'"></agm-marker>
  </agm-map>
  <ng-content class="so-static" style="z-index: 1005"></ng-content>
</div>
