/* You can add global styles to this file, and also import other style files */

html {
  position: relative;

  --colorPrimary: #1b8684;
  --colorPrimaryDark: #17706f;
  --colorAccent: #831e1e;
  --colorBlue: #1b4b86;
  --colorDark: #242424;
  --colorGrey: #575757;

  --colorLightBlue: #30abca;
  --colorLightRed: #fe2e5a;
  --colorLightCyan: #55e0d3;
  --colorLightYellow: #ffa829;
}

body {
  min-height: 100vh;
  background-color:#f8f9fa !important;
}

.bg-lines {
  background: url("/assets/lines_dark_2.jpg") repeat, repeat;
}

.bd-dark-top {
  border-top: 1px solid var(--colorGrey);
}

.bd-dark-bottom {
  border-bottom: 1px solid var(--colorGrey);
}

.txt-outline {
  text-shadow:
    -1px -1px 1px #222,
    1px -1px 1px #222,
    1px 1px 1px #222,
    -1px 1px 1px #222;
}

.txt-title {
  color: white !important;
  letter-spacing: .05em !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
}

.back-gradient {
  margin: 0 !important;
  padding: 0.25rem !important;
  border-radius: 0.45rem !important;
  background: linear-gradient(to right, var(--colorPrimary), var(--colorAccent)) !important;
}

button.btn-small {
  outline: none !important;
  color: white !important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 0 !important;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0.275rem 0.75rem;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  /*background-color: var(--colorDark);*/
  background: url("/assets/lines_dark_2.jpg") repeat, repeat;
  border-radius: 0.2rem;
}

button.btn-small::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 0.3rem;
  background: linear-gradient(310deg, var(--colorPrimary), var(--colorAccent)) !important;
}

button.btn-small:focus::before {
  padding-top: 1px;
  box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.35);
}

button.btn-small:hover {
  /*color: #222 !important;*/
  /*background-color: var(--colorGrey) !important;*/
}

button.btn-small:hover::before {
  /*background: linear-gradient(130deg, var(--colorPrimary), var(--colorAccent)) !important;*/
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.5);
}


button.btn-small:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.border-line {
  border-bottom: 3px solid var(--primary);
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullPage {
  position: absolute;
  top: 0;
  min-height: 100vh;
  padding: 48px 0 48px 0 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 48px;
  line-height: 46px;
  width: 100%;
}

.border-contour {
  border-color: rgba(0, 0, 0, 0.15);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow:0 0 0 .2rem rgba(196,64,64,.25);
}

checking {
  border: 1px solid orange;
  box-shadow:0 0 0 .2rem rgba(255,196,0,.25);
}

.light-border {
  border: 1px solid #dee2e6;
}


.is-changed {
  border: 1px solid #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.small-height {
  line-height: 1 !important;
}

.btn-tiny {
  display: inline-block;
  padding: .5em .6em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;

  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(0, 0, 0, 0);
}

.btn-tiny:hover {
  color: #000;
  border-color: #ccc !important;
  background-color: #fff;
  cursor: pointer;
}

.btn-tiny:focus {
  outline: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 .05rem rgba(255, 255, 255, 0.5) !important;
}

.border-contour-dark {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

@keyframes spin-anim {
  0%  { transform: rotateY(0deg); }
  20% { transform: rotateY(90deg); }
  30% { transform: rotateX(90deg); }
  50% { transform: rotateX(0deg); }
  70% { transform: rotateX(90deg); }
  80% { transform: rotateY(90deg); }
  100% { transform: rotateY(0deg); }
}

@keyframes spin-anim-icon {
  0% { content: '\f05b'; color: var(--dark); }
  50% { content: '\f017'; color: var(--danger); }
}

.spin-animate {
  animation: spin-anim 2s linear infinite;
}

.spin-animate::before {
  animation: spin-anim-icon 2s linear infinite;
}

.so-static {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.so-static-margin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 0;
  font-size: 26px;
}

.outline-white {
  text-shadow:
    -1px -1px 1px #fff,
    1px -1px 1px #fff,
    1px 1px 1px #fff,
    -1px 1px 1px #fff;
}

.box-outline-white {
  box-shadow: 0 0 0.1rem .075rem var(--white) !important;
}

.box-outline-red {
  box-shadow: 0 0 0.1rem .075rem var(--danger) !important;
}

p strong {
  text-shadow: 2px 2px 1px #222;
}

.hide:hover {
  opacity: 0.5;
}

.map-height {
  height: 500px !important;
}
