/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
}

body {
  min-height: 100vh;
  background-color:#f8f9fa!important;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullPage {
  position: absolute;
  top: 0;
  min-height: 100vh;
  padding: 56px 0 50px 0 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  line-height: 48px;
  width: 100%;
}

.border-contour {
  border-color: rgba(0, 0, 0, 0.15);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow:0 0 0 .2rem rgba(196,64,64,.25);
}

checking {
  border: 1px solid orange;
  box-shadow:0 0 0 .2rem rgba(255,196,0,.25);
}

